.booking-laser,
.booking-laser * {
  box-sizing: border-box;
}
.booking-laser {
  background: linear-gradient(to left, #bd300d, #bd300d),
    linear-gradient(to left, #1372ee, #1372ee);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.booking {
  background: #083877;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.booking-info {
  position: absolute;
  inset: 0;
}
.bookingframe {
  background: #ffffff;
  border-radius: 30px;
  width: 370px;
  height: 499px;
  position: absolute;
  left: 935px;
  top: 313px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.booking2 {
  color: #1c2b38;
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 965px;
  top: 325.67px;
  width: 70px;
  height: 14.26px;
}
.time-start-laser {
  width: 127px;
  height: 57.03px;
  position: static;
}
.time-start {
  color: var(--main-dark, #1c2b38);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 971px;
  top: 654px;
  width: 72px;
  height: 14.26px;
}
.box-time-start {
  background: var(--dark-5-border, #f4f4f5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 180px;
  align-items: center;
  justify-content: flex-start;
  width: 127px;
  height: 34.85px;
  position: absolute;
  left: 971px;
  top: 676.18px;
}
.select-time-start {
  color: var(--dark-80, #495560);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}
.time-end-laser {
  width: 127px;
  height: 57.03px;
  position: static;
}
.time-end {
  color: var(--main-dark, #1c2b38);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 1125px;
  top: 654px;
  width: 79px;
  height: 14.26px;
}
.box-time-end {
  background: var(--dark-5-border, #f4f4f5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 180px;
  align-items: center;
  justify-content: flex-start;
  width: 127px;
  height: 34.85px;
  position: absolute;
  left: 1125px;
  top: 676.18px;
}
.select-time-end {
  color: var(--dark-80, #495560);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}
.confirm-button {
  background: #bd300d;
  border-radius: 30px;
  padding: 14px 80px 14px 80px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 39.6px;
  position: absolute;
  left: 965px;
  top: 734px;
}
.confirm {
  color: var(--white, #ffffff);
  text-align: center;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.booking-line {
  background: #000000;
  border-radius: 30px;
  width: 370px;
  height: 0.79px;
  position: absolute;
  left: 935px;
  top: 352.6px;
}
.date-laser {
  width: 281px;
  height: 57.47px;
  position: static;
}
.date {
  color: var(--main-dark, #1c2b38);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 971px;
  top: 553px;
  width: 82px;
  height: 14px;
}
.box-date {
  background: var(--dark-5-border, #f4f4f5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 207px;
  align-items: center;
  justify-content: flex-start;
  width: 281px;
  height: 35.27px;
  position: absolute;
  left: 971px;
  top: 575.2px;
}
.no-laser {
  width: 281px;
  height: 57.47px;
  position: static;
}
.no {
  color: var(--main-dark, #1c2b38);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 971px;
  top: 469px;
  width: 42.6px;
  height: 14px;
}
.no-box {
  background: var(--dark-5-border, #f4f4f5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 207px;
  align-items: center;
  justify-content: flex-start;
  width: 281px;
  height: 35.27px;
  position: absolute;
  left: 971px;
  top: 491.2px;
}
.vector {
  width: 9.63px;
  height: 5.8px;
  position: absolute;
  left: 1213px;
  top: 509px;
  overflow: visible;
}
.equipments-laser {
  width: 287px;
  height: 57px;
  position: static;
}
.equipments {
  color: var(--main-dark, #1c2b38);
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 965px;
  top: 390px;
  width: 147px;
  height: 14px;
}
.box-select-laser {
  background: var(--dark-5-border, #f4f4f5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 207px;
  align-items: center;
  justify-content: flex-start;
  width: 287px;
  height: 35px;
  position: absolute;
  left: 965px;
  top: 412px;
}
.vector2 {
  width: 9.63px;
  height: 5.8px;
  position: absolute;
  left: 1207px;
  top: 430px;
  overflow: visible;
}
.bar {
  background: #ffffff;
  width: 1445px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.log-in {
  color: #ffffff;
  text-align: left;
  /* font-family: "ABeeZee-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1143px;
  top: 99px;
}
.lab-manager {
  color: #344002;
  text-align: left;
  /* font-family: "TacOne-Regular", sans-serif; */
  font-family: "Tac One", serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 52px;
  top: 42px;
  width: 421px;
  height: 45px;
}
.rec-sc {
  background: #ffffff;
  border-radius: 40px;
  width: 752px;
  height: 237px;
  position: absolute;
  left: 105px;
  top: 764px;
}
.rec-ts {
  background: #ffffff;
  border-radius: 40px;
  width: 752px;
  height: 237px;
  position: absolute;
  left: 105px;
  top: 512px;
}
.rec-mit {
  background: #ffffff;
  border-radius: 40px;
  width: 752px;
  height: 237px;
  position: absolute;
  left: 105px;
  top: 263px;
}
.equipments-ts-6090-l {
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 473px;
  top: 544px;
  width: 371px;
  height: 218px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}
.equipments-ts-6090-l-span {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span2 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span3 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span4 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span5 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span6 {
  color: #bd300d;
  list-style-type: disc;
  padding-left: 1em;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span7 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span8 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span9 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-ts-6090-l-span10 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit {
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 471px;
  top: 292px;
  width: 374px;
  height: 261px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}
.equipments-mit-span {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span2 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span3 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span4 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span5 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span6 {
  color: #bd300d;
  list-style-type: disc;
  padding-left: 1em;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span7 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span8 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-mit-span9 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech {
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 471px;
  top: 793px;
  width: 372px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}
.equipments-sctech-span {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech-span2 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech-span3 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech-span4 {
  color: #bd300d;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech-span5 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech-span6 {
  color: #bd300d;
  list-style-type: disc;
  padding-left: 1em;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.equipments-sctech-span7 {
  color: #000000;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.laser-cutting-machine-1 {
  width: 189px;
  height: 189px;
  position: absolute;
  left: 516px;
  top: 42px;
  object-fit: cover;
  aspect-ratio: 1;
}
.mit-laser-1 {
  width: 284px;
  height: 294px;
  position: absolute;
  left: 154px;
  top: 221px;
  object-fit: cover;
  aspect-ratio: 284/294;
}
.sctech-laser-1 {
  width: 369px;
  height: 197px;
  position: absolute;
  left: 111px;
  top: 781px;
  object-fit: cover;
  aspect-ratio: 369/197;
}
.ts-6090-laser-1 {
  width: 285px;
  height: 243px;
  position: absolute;
  left: 154px;
  top: 515px;
  object-fit: cover;
  aspect-ratio: 285/243;
}
.home {
  color: #bd300d;
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1259px;
  top: 92px;
}
.heading {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 102px;
  top: 118px;
}
.red-label {
  background: #bd300d;
  border-radius: 10px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #ffffff;
  text-align: left;
  /* font-family: "TiltWarp-Regular", sans-serif; */
  font-family: "Tilt Warp", serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.icon-back-1 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 34px;
  top: 108px;
  object-fit: cover;
  aspect-ratio: 1;
}
.icon-date {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1207px;
  top: 582px;
  object-fit: cover;
  aspect-ratio: 1;
}

.tac-one-regular {
  font-family: "Tac One", serif;
  font-weight: 400;
  font-style: normal;
}
.tilt-warp {
  font-family: "Tilt Warp", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

